[submodule "third-party/AnsiStyle"]
	path = third-party/AnsiStyle
	url = https://github.com/dSyncro/AnsiStyle
[submodule "third-party/Detective"]
	path = third-party/Detective
	url = https://github.com/dSyncro/Detective
[submodule "third-party/Premaker"]
	path = third-party/Premaker
	url = https://github.com/dSyncro/Premaker
